body {
    position: absolute;
    top: 5vw;
    left: 35vw;
}

#grid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    
}

#result {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bolder;
    font-size: 36px;
}
h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bolder;
    font-size: 36px; 
}